* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* header */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 70px;
    min-height: 70px;
    background-color: black;
    padding: 0 32px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1 );
  

}

.brand-logo {
    width: 180px;
    height: auto;
    display: block;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 60px;

}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;

}

a:hover {
    color: rgb(255, 137, 2);

}

.nav-list a:hover::after {
    width: 100%;
}

.nav-list a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(255, 137, 2);
    position: absolute;
    bottom: -15px;
    left: 0;
    transition: width 0.3s ease;
}


.dragon-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}


/* hero section */


.hero {
    position: relative;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 6%;
    gap: 9px;
    overflow: hidden;
}


/* No hero-content tirei o height de 400px pois estava cortando os botões */

.hero-content { 
    position: relative;   
    display: flex;
    width: 50%;
    align-items: flex-start;
    max-width: 620px;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 0;
    z-index: 2;
    text-align: left;

}

.hero-content h1 {
    max-width: 520px;
    font-size: clamp(32px, 3.5vw, 50px);
    margin-bottom: 12px;
    min-width: 0;
    line-height: 1.05;

}

.hero-content h1 strong {
    color:  #ff8902;
}

.hero-content p {
    max-width: 540px;
    font-size: 15px;
    margin-bottom: 10px;
    min-width: 0;
    color: #d0d5db;
}

.hero-imagem {
     position: absolute;
     z-index: 0;
    width: 100%;
    height: 100%;
    inset: 0;
}

#hero-main-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center;
    opacity: 0.65;
 
}

.hero-actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;
}

.hero-actions button {
    min-width: 150px;
    padding: 10px 16px;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn-orange button {
    background-color: transparent;
    color:  white;
     border-color: rgba(255, 255, 255, 0.5);
}


#btn-orange button:hover {
    color: #ff8902;
    transform: translateY(-2px);
    border-color: #ff8902;
}

#btn-black button {
    background-color: transparent;
    color:  white;
    border-color: rgba(255, 255, 255, 0.5);
}

#btn-black button:hover {
     border-color: #ff8902;
    color:  #ff8902;
    transform: translateY(-2px);
}

/* hero-social */

.hero-social {
    color:  #ff8902;
    padding: 0 6%;
    margin-top: 25px;

}

.hero-social ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


/*personagens section */


.personagens {
    padding: 70px 6%;        /*padding cria espaço por dentro*/
    background-color: rgb(0, 0, 0);   /*Fundo da seção*/
}

.personagens > h2 {          /* > significa que o h2 é filho direto da classe personagens e consigo selecionar somente ele*/
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;      /* margin-bottom cria espaço entre o título e o próximo elemeto.*/
    color: #e6dada;
}



/*grid container */

.grid-container {
    display: grid;                             /*Sistema de grade, organização dos personagens */
    grid-template-columns: repeat(4, 1fr);        /*4 colunas de tamanho igual*/
    gap: 24px;                                  /*espaço entre os elementos da grid*/
    max-width: 1200px;                        /*pode diminuir, mas não passar de 1200*/
    margin: 0 auto;      
                                              /*centraliza a grid*/
}


                 
/* body cards */

.personagem {
    background-color: transparent;        /*cada personagem tem um fundo preto*/
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;            /*bordas arredondadas*/
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 2px rgb(168, 165, 165) ;
}

.personagem:hover {
    transform: translateY(-5px);      /*quando passar o mouse, o card sobe 5px*/
    box-shadow: 0 0 5px rgb(255, 137, 2);   /*quando passar o mouse, a sombra do card fica laranja*/
    transition: all 0.3s ease;        /*transição suave de todos os efeitos*/
    background-color: #ff8902;
    transform: translateY(-2px);
    border-color: #ff8902;
}

.personagem img {
    width: 100%;                    /*ocupa 100% da largura disponível do elemento pai, largura do card*/
    height: 260px;
    object-fit: cover;              /*faz a imagem preencher o espaço do card*/ 
    border-radius: 8px;
}

.personagem h3 {
    color: #000000;
    font-size: 22px;
    margin: 15px 0 8px;
}

.personagem p {
    color: #000000;
    font-size: 14px;    
    line-height: 1.5;
}


/* sobre os saiyajins */

.sobre-saiyajin {
    padding: 70px 6%;
    background-color: #000000;
}

.sobre-saiyajin h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #dad3cc;
}

.sobre-saiyajin p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 15px;
}

.sobre-saiyajin img {
    width: 90%;
    max-width: 800px;
    display: block;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 0 5px ;
}






/* saga */

.saga {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: rgba(0, 0, 0, 0.7);
     z-index: 100;
     opacity: 0;                              
     visibility: hidden;
     pointer-events: none;
     transition:  0.3s ease;
}

.saga.ativo {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.saga-content {
    width: 30%;
    max-width: 600px;
    background-color:  rgba(0, 0, 0, 0.9);
    border: 1px solid #ff8902;
    padding: 30px;
    border-radius: 12px;
    color: white;
    box-shadow: 0 0 8px rgba(255, 137, 2, 0.5);
}

.saga-content h2 {
    color: #ff8902;
    font-size: 19px;
    margin-bottom: 10px;
    text-align: center;
}

.saga-content p {
    color: #d0d5db;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 15px;
}

.saga-list {
    list-style: none;
}

.saga-list li {
    padding: 5px 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 3px solid #ff8902;
    border-radius: 4px;
}